In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('Data_STS.csv', sep='\t')

In [5]:
df

,creationDate,userID,itemID,rating,birthDate,gender,opennessToExperience,conscientiousness,extraversion,agreeableness,...,daytime,weather,companion,mood,weekday,travelGoal,transport,category1,category2,category3
0,NaN,1,1,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
1,NaN,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
2,NaN,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
3,NaN,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
4,NaN,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2529,03/04/2014 14:14:18,324,53,4,03/04/2005,f,4.0,7.0,2.0,3.0,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN
2530,03/04/2014 14:14:18,324,46,5,03/04/2005,f,4.0,7.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN
2531,03/04/2014 14:14:18,324,43,3,03/04/2005,f,4.0,7.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN
2532,03/04/2014 14:14:18,324,56,4,03/04/2005,f,4.0,7.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN
2533,03/04/2014 14:54:16,325,14,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN

In [6]:
def cal(df):

    
    # calculate total number of possible user-item interactions
    num_users = df[df.columns[0]].nunique()
    num_items = df[df.columns[1]].nunique()
    num_possible_interactions = num_users * num_items
    
    # calculate total number of actual user-item interactions
    num_actual_interactions = df.shape[0]
    
    # calculate sparsity of ratings
    sparsity = 1 - (num_actual_interactions / num_possible_interactions)
    
    print(sparsity)
cal(df)

0.9861756683033279

In [7]:
def count_nan(df):
    """
    Returns the percentage of NaN values in a pandas DataFrame.
    """
    total_cells = df.size
    nan_cells = df.isna().sum().sum()
    nan_percentage = (nan_cells / total_cells) * 100
    print(nan_percentage)
count_nan(df)

62.26040139812831

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2534 entries, 0 to 2533
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   creationDate             1741 non-null   object
 1   userID                   2534 non-null   int64
 2   itemID                   2534 non-null   int64
 3   rating                   2534 non-null   int64
 4   birthDate                1106 non-null   object
 5   gender                   1412 non-null   object
 6   opennessToExperience     1721 non-null   float64
 7   conscientiousness        1721 non-null   float64
 8   extraversion             1721 non-null   float64
 9   agreeableness            1721 non-null   float64
 10  emotionalStability       1721 non-null   float64
 11  distance                 455 non-null    float64
 12  timeAvailable            383 non-null    float64
 13  temperature              395 non-null    float64
 14  crowdedness              360 non-null    float64
 15  knowledgeOfSurroundings  357 non-null    float64
 16  season                   335 non-null    float64
 17  budget                   269 non-null    float64
 18  daytime                  278 non-null    float64
 19  weather                  227 non-null    float64
 20  companion                202 non-null    float64
 21  mood                     174 non-null    float64
 22  weekday                  151 non-null    float64
 23  travelGoal               103 non-null    float64
 24  transport                81 non-null     float64
 25  category1                2534 non-null   int64
 26  category2                5 non-null      float64
 27  category3                2 non-null      float64
dtypes: float64(21), int64(4), object(3)
memory usage: 554.4+ KB